
/****************************** CONTACTO ************************************
***************************************************************************/

.contacto-header{
    align-items: center;
    background-color: var(--colorPrimario);
    display: flex;
    min-height: 10em;
    text-align: center;
    width: 100%;
}

.contacto-header h2{
    color: #fff;
    font-size: 2rem;
    margin-left: 1em;
}
.contacto{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content:center;
    width: 100%;
}

.contacto form{
    align-content: center;
    align-items: center;
    background-color: #a9aca98e;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 2em;
    width: 50%;
}
.contacto form p{
    color: var(--colorPrimario);
    font-size: .9rem;
}
.form-conteiner{
    align-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.item-forms{
    align-content: flex-start;
    align-items: center;
    align-items: center;
    display: flex;
    justify-content:space-around;
    justify-content: start;
    padding: 1em;
    width: 100%;
}

.item-forms span{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item-forms label{
    display: flex;
    text-align: start;
}

.item-forms input{
    border: none;
    margin-right: 1em;
    margin-top: 5px;
    max-height: 5em;
    max-width: 100%;
    padding: .5em;
}
.item-forms textarea{
    display: flex;
    padding: 1em;
    resize: vertical;
    width: 100%;
}

.form-conteiner button{
    border-radius: 5px;
    width: 100%;
}

.item-forms label::after{
    color: var(--colorPrimario);
    content: "*";
}
.item-forms select{
    height: 2em;
    max-width: 90%;
}
.form-conteiner .item-forms:nth-child(4) span{
    align-content: center;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.contacto-ubicaciones{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    width: 100%;
}
.contacto-ubicaciones h2 {
    color: var(--colorPrimario);
}

.contacto-ubicaciones a{
    color:unset;
    text-decoration: none;
}

.contacto-ventas{
    text-decoration: none;
}


/****************************** MOBILE ************************************
***************************************************************************/

@media only screen and (max-width: 750px) {    

    .contacto form{
        box-sizing: border-box;
        flex-direction: column;
        width: 100%;
    }
    .form-conteiner{
        flex-direction: column;
    }
    .item-forms{
        box-sizing: border-box;
        flex-direction: column;
        padding: 0;
    }
    .item-forms input{
        margin: 0;
        margin-bottom: 1em;
        width: 100%;
       
    }
    .item-forms select{
        margin-bottom: 1em;
        padding: 2px;
        width: 100%;
    }
    .item-forms textarea{
        margin-bottom: 1em;
        padding: 1em;
    }
    .contacto-ubicaciones{
        flex-direction: column;
    }
    .contacto-ubicaciones iframe{
        width: 100%;       
    }

}