h1{
    font-size: 2rem;
}

.enviado{
    align-content: center;
    align-items: center;
    border: 1em double red;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 5em;
    text-align: center;
    width: 80%;
}

.enviado img{
    width: 10em;
}

@media only screen and (max-width: 760px) {
    .enviado{
        border:1px solid red;
        height: auto;
        padding:0;
        padding-top: 1em;
        width: 100%;
    }
    .enviado h1{
        font-size: 1.5rem ;
        margin: 0;
        padding: 1em;
        width: 100%;
    }
    .enviado h2{
        font-size: 1.2rem;
    }
    
    .enviado img{
        width:30%
    }
}
