body{
    box-sizing: border-box;
    
}


.modelos{
    flex-direction: column;
    width: 90%;
    
}
.title h2{
    font-size: 2.5rem;
}
.modelos ul{
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    flex-direction: row;
}

.caja{
    align-items: center;
    width: 30%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1em;
    color: black;
    background-color: #fff;
    border-radius: 0;
    transition: .35s ease-in;
    opacity: 1;
}

.modelos-selector-contenedor{
    display: flex;
    
    width: 100%;
}
#selectAutos{
    padding:.5em;
    width: 20%;
    display: flex;

    }
  
.caja img{
    width: 70%;
    display: flex;
    margin-bottom: 1em;
}

.modelos-tarjeta{
    height: 100%;
    gap: 1em;
    border-radius: 0;
}

.caja:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.modelos-tarjeta h2{
    text-transform: uppercase;

    
}
.modelos-tarjeta p{
    text-align: left    ;
}

.btn-modelos{
    padding: 1em;
}

@media only screen and (max-width: 750px) {
  .modelos ul{
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
  .caja{
    width: 100%;
  }
  .caja:hover{
    box-shadow: none;
  }
  .btn-modelos{
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
  }
  #selectAutos{
    padding:.5em;
    width: 90%;
    display: flex;
    margin: auto;

    }
}
