
p{
    color: #000;
}
article{
margin: 0;
padding: 0;
}

.modelos{
    flex-direction: column;
    font-size: 1ren;
}


.banner-video{
    align-items: center;
    margin: auto;
    width: 90vw;
    display: flex;
    overflow: hidden;
}

.banner-video video{
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 60%;
    height: auto;   
    margin: auto;
    object-fit:cover

}

.modelos-descripcion{
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 1em;
    width: 100%;

}

.modelo-img-conteiner{
    width: 50%;
}

.modelo-img-conteiner img{
    display: flex;
    border-radius: 15px;
    width: 100%;
}   
.modelo-info{
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 1em;
    width: 50%;
    
}

.modelo-info h1{ 
    font-size: 3rem;
    color: var(--colorPrimario);
}
.modelo-info p{
    font-size: 1.4rem;
    text-align: start;    
}
.equipamiento{
    width: 100%;
}
.equipamiento figure> img{
    border-radius: 50%;
}


@media only screen and (max-width: 750px) {
    .modelos-descripcion{
        flex-direction: column;
        padding: 0;
       
    }
    .modelo-img-conteiner{
        width: 100%;
        padding: 0;
        margin-top: 1em;
    }
    .modelo-img-conteiner img{
        width: 100%;
        border-radius: 0;
    }
    .modelo-info{
        width: 100%;
        align-items: center;
    }
    .modelo-info h1{
        font-size: 2rem;
        text-align: center;
    }
    .modelo-info p{
        padding: 0;
        font-size: 1rem;
    }
    .modelo-info .button{
        width: 50%;
    }
}