
.testDrive-header{
    align-items: center;
    position: relative;
    display: flex;
    min-height: 10em;
    text-align: center;
    width: 100%;
    flex-direction: column;
    
}


.testDrive-header img{
    width: 100%;
   
}

.testDrive-header h2{
    color: #fff;
    font-size: 3rem;
    margin-left: 1em;
    position: absolute;
    top: 80%;
    
}
.conteiner-item span, label{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.description{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.description h2{
    font-size: 3rem;
   
}

.description img{
   width: 100px;
   align-items: center;
}


.contacto-ubicaciones{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    width: 100%;
}
.contacto-ubicaciones h2 {
    color: var(--colorPrimario);
}

.contacto-ubicaciones a{
    color:unset;
    text-decoration: none;
}

.contacto-ventas{
    text-decoration: none;
}

.formulario-td{
    display: flex;
    padding: 1em;
    width: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin:auto;
    background-color: var(--colorPrimario)

}

.formulario-td h2{
    font-size: 1.5rem;
    color: #fff;
}
.formulario-td input, select{
    padding: 10px;
   width: 20em;
   display: flex;
   border: none;
   border-bottom: 1px solid rgb(229, 215, 215);
}


.conteiner-item{
    display: flex;
    gap: 1em;
    width: 50%;
    justify-content: center;
    color: #fff;
}

.conteiner-item:nth-child(6){
    flex-direction: column;
    margin-bottom: 1em;
    width: 70%;
}
.conteiner-item textarea{
    width: 100%;
    resize: vertical;
  
}

.formulario-td button{
    margin-bottom: 1em;
    border: 1px solid #fff;
}



@media only screen and (max-width: 750px) {
    body{
        font-size: 1rem;
    }
    .description h3{
        font-size: 1rem;
        padding: 10px;
    }
    .testDrive-header h2{
        top:50%;
        font-size: 1.5rem;
    }
    .contacto-ubicaciones{
    flex-direction: column;
    width: 100%;
    }
    .contacto-ventas{
        width: 100%
    }
    .contacto-ubicaciones iframe{
        width: 100%;
    }
    .formulario-td{
        flex-direction: column;
        width: 100%;
    }
    .conteiner-item label{
       
        padding: 10px;
      
    }
    .conteiner-item{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .formulario-td button{
        width: 90%;
    }
}