
*{
 box-sizing: border-box;   
 
}

body{
    font-family: "Toyota Type Semibold";

}

span{
    display: block;
}
label{
    display: block
}

p{
    color: #000;
    margin: 0;
    text-align: start;

}
header{
    border-bottom: 2px solid #0000003f;

}

.tpa-conteiner{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tpa-conteiner h2{
    font-size: 2.5rem;
}

.tpa-banner-conteiner{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    width: 100vw;
}

.tpa-banner h2{
    text-align: center;
    

}
@keyframes slide {
        0%{
            background-image: url(../img/tpa/banner/tpa1.webp);
        }
        40%{
            background-image: url(../img/tpa/banner/tpa2.webp);

        }
        80%{
            background-image: url(../img/tpa/banner/tpa3.webp);
        }
        100%{
            background-image: url(../img/tpa/banner/tpa4.webp);
        }
}



.tpa-banner{
    align-content: center;
    align-items: flex-end;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: slide;
    animation-timing-function: ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
  
    background-size:contain;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    transition: 1s all ease;
    width: 100%;
   
}

.tpa-banner h2{
    background-color: rgba(255, 0, 0, 0.736);
    border-radius: 10px;
    color: white;
    margin-bottom: 1em;
    padding: 1em;
    position: relative;

}


.tpa-yaris{
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
}
.yaris-info{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    width: 100%;
}
.yaris-info h2{
    color: var(--colorPrimario);
    font-family: "Toyota Type Semibold";
    text-align: center
}
.yaris-info p{
    color: #000;
    padding: 1em;
    text-align: start;
    width: 90%;
    
}
.yaris-info h3{
    background: linear-gradient(326deg, rgba(255, 255, 255, 0.482) 46%, rgb(45, 44, 45) 46%);
    border: .5px solid rgba(0, 0, 0, 0.411);
    border-radius: 50px;
    color: rgb(226, 225, 225);
    font-size: 4.1rem;
    letter-spacing: 5px;
    margin: 0;
    padding: 1em;
    text-shadow: -2px -3px 4px  rgb(78, 76, 76);
    
}
.img-yaris{
    display: flex;
    height: auto;
    width: 100%;

}
.img-yaris img{
    width:100%;
}

/******************** PLAN ADJUDICADOS ********************
/****************************************************/

.plan-toyota{
    align-items: flex-start;
    background-color: rgba(183, 181, 181, 0.25);
   
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    justify-content: center;
    margin-top: 2em;
    padding: 1em;
    padding-bottom: 1em;
    width: 90%;
    
}
.plan-toyota  h2{
    color: var(--colorPrimario);
    text-align: center;
  
}



.plan-adjudicados-info, .plan-jorge-ferro{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    

}

.plan-adjudicados-info{
    border-right: 1em solid rgba(0, 0, 0, 0.791);
     
}

.plan-adjudicados-info .plan-jorge-ferro, p{
    color: black;
    font-size: 1.3rem;
    width: 80%;
    
}
.plan-adjudicados-info p:nth-child(4){
    font-size: .6rem;
}



.plan-img{
    display: flex;
    justify-content: center;
    width:85%;
}

.plan-img img{
object-fit: scale-down;
    width: 30%;
}

.plan-adjudicados-info .plan-img img{
    margin-bottom: 1.1rem
}

.btn-plan-adjudicados-conteiner, .btn-plan-jf{
    align-content: flex-start;
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    
}
/******************** COROLLA CROSS ********************
/****************************************************/

.corolla-cross{
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

}
.corolla-cross-img-conteiner{
    display: flex;
    width: 50%;
}

.corolla-cross-info{
    align-items: center;
    display: flex;
    justify-content: center;

    width: 50%;

}
.corolla-cross-info{
    color: var(--colorPrimario);
    flex-direction: column;
    
}

.corolla-cross img{
    object-fit: scale-down;
    width: 100%;
}

/******************** PLAN YARIS JF ********************
/****************************************************/

.plan-yaris-jorge-ferro{
    align-items: center;
    background-color: rgba(183, 181, 181, 0.25);;
    display: flex;
    justify-content: center ;
    padding: 2em;
    padding-bottom: 5em;
    width: 100%;


}

.plan-yaris-jf-img{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;

}
.plan-yaris-jf-img img{
    width: 50%;

}

.plan-yaris-jf-img img:nth-child(2){
    width: 25%;

}


@keyframes yaris {
    12%{
        border: 2px solid transparent;
        border-right: 2px solid rgb(13, 107, 13);
    }
    24%{
        border: 2px solid transparent;
        border-bottom: 2px solid green;
    }
    36%{
      border: 2px solid transparent;
        border-left: 2px solid green;
        
    }
    48%{
        border: 2px solid transparent;
        border-top: 2px solid green;
    }
    60%{
        border: 2px solid transparent;
        border-right: 2px solid green
    
    }
    80%{
        border: 2px solid transparent;
        border-bottom: 2px solid green;     
    }
    90%{
        border: 2px solid transparent;
        border-left: 2px solid green;
    }
    100%{
        border: 2px solid transparent;
        border-top: 2px solid green;
    
    
    }
}


.yaris-logo{
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: yaris;
    background-color: #000;
    border: 2px solid transparent;
    border-radius: .5em;
    display: flex;
    filter: invert(1);
    object-fit: scale-down;
    padding: 1em;
    transition: .35s all ease;
}


.plan-yaris-jf-info{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60%;
}
.plan-yaris-jf-info h2{
    color: var(--colorPrimario);
    font-size: 2.5rem;
    text-align: center;
}


.btn-plan-yaris-jf{
    align-items: center;
    display: flex;
    gap: 1em;
    justify-content: center;
    width: 100%;

}

.btn-plan-yaris-jf .button{
    width: 30%;
}

.yaris-logo:hover{
    animation: none;
    border: 2px solid red;
    cursor: pointer;
    filter: invert(0);
}

/******************** PLAN HILUX ********************
/****************************************************/

.plan-hilux{
    align-items: center;
    display: flex;
    justify-content: center;
  
    padding: 1em;
    width: 100%;
}
.plan-hilux-info{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 50%;

}
.plan-hilux-info h2{
    color: var(--colorPrimario);

    text-align: center;
    
}
.plan-hilux-img{
    width: 50%;
}
.plan-hilux-img img{
    object-fit: scale-down;
    width: 100%;
}

/******************** PLAN JORGE FERRO 30/70 ********************
/***************************************************************/

.plan-jf{
    align-items: center;
    background-color: rgba(183, 181, 181, 0.25);
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    padding: 1em;
    width: 90%;
}

.plan-jf img{
    display: flex;
    object-fit: scale-down;
    width: 30%;
}
.plan-jf-info{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.plan-jf-info h2{
    color: var(--colorPrimario);
    text-align: center;
}


/******************** Plan Coroll ********************
/****************************************************/

.plan-corolla{
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}


.plan-corolla-img{
    display: flex;
    width: 50%;
}

.plan-corolla-img img{
    display: flex;
    object-fit: scale-down;
    width: 100%;
}
.plan-corolla-info{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%  ;
}
 
.plan-corolla-info h2{
    color: var(--colorPrimario);
    text-align: center;
}


/******************** COROLLA CROSS ********************
/****************************************************/

.plan-corolla-cross{
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.plan-corolla-cross-img{
    display: flex;
    width: 50%;
}

.plan-corolla-cross-img img {
    
    object-fit: scale-down;
    width: 100%;
}

.plan-corolla-cross-info{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 50%;
    
}
.plan-corolla-cross-info h2{
    
    color: var(--colorPrimario);
    text-align: center;
        
}
.plan-corolla-cross-info h3{
    color: var(--colorPrimario);
    font-family: "Toyota Type Semibold",Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
}
.plan-corolla-cross-info span{
    align-content: center;
    align-items: center;
    border-radius: 5px;
    display: inline;
    justify-content: center;
    text-align: center;
    width: 30%;
    
}




/******************** CONTACTO ********************
/****************************************************/

.formulario-contenedor{
    align-content: center;
    align-items: center;
    background-color: var(--colorPrimario);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 1em;
    width: 50%;
}
.formulario-contenedor h2{
 color: #fff;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 text-align: center;
}
.formulario-contenedor h2{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}
.formulario-contenedor p{
    color: #fff;
    font-size: 1.1rem;
    padding: 1em;
    text-align: center;
}

.forms-tpa{
    align-content: center;
    align-items: center;
    background-color: var(--colorPrimario);
    background-color: transparent;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:1em;
    justify-content: center;
    padding: 1em;
    width:100%;
}
.forms-tpa p{
    font-size: 1em;
    text-align: center;
}
.form-tpa-elements{
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    justify-content: start;
    margin-left: 10%;
    margin-right: 10%;
    width: 90%
}
.form-tpa-elements span{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-tpa-elements label{
    margin-bottom: 10px;
}

.form-tpa-elements label::after{
    content: "*";
    margin-left: 2px;
}
.form-tpa-elements input{
    border: none;
    margin-bottom: 1em;
    margin-right: 1em;
    max-width: 100%;
    outline: none;
    padding: 10px;
}

.form-tpa-elements select{
    display: flex;
    max-width: 100%;
    padding: 10px;
}


.form-tpa-elements textarea{
    border: none;
    display: flex;
    outline: none;
    padding: 10px;
    resize: vertical;
    width: 100%;
}

.forms-tpa button{
    border: 1px solid #fff;
    font-weight: 400;
    
}

.forms-tpa button:hover{
    background-color: #fff;
    color: var(--colorPrimario);

}



@media only screen and (max-width: 750px) {
    @keyframes slide {
        0%{
            background-image: url(../img/mobile/banner/tpa/tpa1.webp);
        }
        40%{
            background-image: url(../img/mobile/banner/tpa/tpa2.webp);
        }
        80%{
            background-image: url(../img/mobile/banner/tpa/tpa3.webp);
        }
        100%{
            background-image: url(../img/mobile/banner/tpa/tpa4.webp);
        }
    }
    .tpa-banner-conteiner{
    height:40vh;
    }
   .tpa-banner h2{
    border-radius: 0;
    bottom: 1em;
    display: flex;
    font-family: var(--ToyotaFont);
    font-size: 1.5rem;
    justify-content: center;
    margin-bottom: 0;
    padding: .2rem;
    position: static;
    text-align: center;
    width: 100%;
   }
   
    h2{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
       padding: 1em;
    }
    .button{
        margin-bottom: 1em;
    }
        .tpa-yaris{
            flex-direction: column-reverse;
            
        }
        .yaris-info{
            padding: 1rem;
            width: 100%;
        }
        .yaris-info p{
            font-size: 1rem;
            padding: 0;
            width: 100%;
        }.yaris-info h3{
            
            padding: 1rem;
        }
        .yaris-info button{
            width: 100%;
        }
        
        .plan-toyota{
            flex-direction: column;
            padding: 0;
            width: 100%;
        }
        .plan-toyota p{
            padding: 0;
            width: 100%;
        }
        .plan-adjudicados-info, .plan-jorge-ferro{
            border-right: none;
            flex-direction: column;
            padding: .5em;
            width: 100%;
        }
        .plan-adjudicados-info{
            border-bottom: 1px solid red;
        }
        .plan-toyota img{
            margin:0;
            margin-top:1em;
            width: 100%;
        }
        
        .button{
            width: 100%;
        
        }

        .corolla-cross{
            flex-direction: column;
            padding: 1px;
            width: 100%;
        }
        .corolla-cross-img-conteiner{

            width: 100%;
        }
        .corolla-cross-info{
            text-align: center;
            width: 100%;
        }
        .corolla-cross-info p{
            padding: 1em;
            text-align: start;
            width: 100%;
        }
        .plan-yaris-jorge-ferro{
            flex-direction: column;
            padding: 0;
            width: 100%;
        }
        .plan-yaris-jf-img{
            width: 100%;
        }
        .plan-yaris-jf-info{
            width: 100%;
        }
        .plan-yaris-jf-info p{
            width: 100%;
        }
        .btn-plan-jf{
            width: 100%;
        }

        .plan-hilux{
            flex-direction: column;
            padding: 0;
            width: 100%;
        }
        .plan-hilux-img{
            width: 100%;
        }
        .plan-hilux-img img{
            display: flex;
            width: 100%;
        }
        .plan-hilux-info{
            padding: 5px;
            width: 100%;
        }
        .plan-hilux-info p{
            width: 100%;
           
        }
        .plan-jf{
            flex-direction: column;
            padding:0;
            width: 100%;
        }
        .plan-jf p{
            width: 100%;
        }
        .btn-plan-jf{
            padding: 5px;
            width: 100%;
        }
        .plan-corolla{
            flex-direction: column-reverse
         }
        .plan-corolla-info{
            width: 100%;
            
        }
        .plan-corolla-img{
            width: 100%;
        }
        .plan-corolla-info p{
            width: 100%;
        }
        .plan-corolla-cross{
            flex-direction: column;
           
        }
        .button{
            width: 80%;
        }
        .plan-corolla-cross-info{
            flex-direction: column;
            width: 100%;
        }
        .plan-corolla-cross-info p{
            width: 100%;
        }
        .plan-corolla-cross-img{
            width: 100%;
        }
        



        .formulario-contenedor{
            border-radius: 0;
            width: 100%;
        }
        .forms-tpa{
            width: 100%;
        }
        .form-tpa-elements{
            flex-direction: column;
        }
        
        .form-tpa-elements label{
            margin-bottom: 2px;
        }
        .formulario-contenedor p{
            width: 100%;
        }
        .form-tpa-elements textarea{
            border-radius: 5px;
            margin-top: 5px;
        }
}
