
main{
    width: 90%;
    margin: auto;
}
.logo-modelo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-content: center;
    margin: auto;
}

.logo-modelo img{
    width: 40%;
    padding: 1em;
}

.plan-description{
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(34, 34, 34, 0.253);

}

.plan-description img{
    width: 50%;
    object-fit: scale-down;
}


.plan-cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 50;
}
.plan-cta img{
    width: 30%;
}
.plan-cta h2{
font-size: 4rem;
color: var(--colorPrimario)
}
.plan-cta p{
    color: #000;
    font-size: 1.5rem;
}

.btn-plan{
    width: 100%;
    justify-content: center;
  display: flex;
}

.btn-plan a{
    text-decoration: none;
    color: rgb(6, 6, 6);
    width: auto;
  text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
 
   
}
.btn-plan a img{
    width: 10%;
    object-fit: contain;
    background-color: rgb(11, 11, 11);
    border-radius: 50%;
    margin-right: 1em;
   
}
.btn-plan a img:hover{
    background-color: var(--colorPrimario);
}

.plan-model{
    display: flex;
    background-color: #2d2d2d;
    margin: auto;
    justify-content: space-around;
    gap: 1em;
    margin-bottom: 1em;
}

.plan-model-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    
}

.plan-model-description h2{
    font-size: 3rem;
    text-align: center;
    color: #fff;
    padding: 1em;
   
}
.plan-model-description p{
    color: #000;
    font-size: 1.2rem;
    text-align: start;
    margin: 0;
    padding: 2  em;
    color: #fff;
}

.plan-contact-modal{
    display: flex;
    top: 0;
    left: -5000px;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.437);
    text-align: center;
    opacity: 0;
    transition: .35s ease;
    z-index: 99999;

}
.plan-contact-modal:target{
    opacity:1;
    left: 0;
   
    
}


.plan-contact-modal-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgb(0, 0, 0);
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    height:auto;
    border: 1px solid #fff;
}

.plan-contact-modal-content a{
    color: #fffd;
    text-decoration: none;
    padding: 1em;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 1em;
    border-radius: 5px;
}

.plan-contact-modal-content h2{
    color: #fff;
}
.plan-contact-modal-content form{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
}
.form-plan-modal-elements{
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 1em;

}
.form-plan-modal-elements label{
    display: block;
    padding: 5px;
    text-align: start;
    color: #ffffff;
   
}


.form-plan-modal-elements span{
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
    flex-wrap: wrap;
}
.form-plan-modal-elements input, textarea{
    padding: 10px;
    margin: 5px;
    width: 100%;
    background-color: #e6e6e6;
    border: none;
   resize: vertical;
   color: #2d2d2d;
}

.form-plan-modal-elements select{
visibility: hidden;
}
.plan-contact-modal-content form button{
    width: 30%;
    margin-bottom: 1em;
    background-color: rgb(255, 255, 255);
    color: rgb(54, 50, 50);
    margin-top: 1em;
   
}


@media only screen and (max-width:750px) {
    main{
        width: 100%;
    }
    .logo-modelo{
        width: 100%;
    }
    .logo-modelo img{
        width: 100%;
       
    }
    .plan-cta{
        width: 100%;
        margin-bottom: 1em;
      
    }
    .plan-cta h2{
        font-size: 2rem;
    }
    .plan-description{
        width: 100%;
        flex-direction: column;
        border-bottom: 1px solid rgba(145, 145, 145, 0.645);
    }
    .plan-description img{
        width: 100%;
    }
    .plan-cta img{
        width: 50%;
    }
    .plan-cta p{
        font-size: 1rem;
    }
    .plan-model{
        flex-direction: column-reverse;
    }
    .plan-model img{
        width: 100%;
        object-fit: contain;
    }
    .plan-model-description h2{
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 5px;
    }
    .plan-model-description p{
        font-size: 1rem;
    }
    .plan-contact-modal-content{
        width: 95%;
       
    }
    .plan-contact-modal-content form{
        width: 100%;
    }
    .form-plan-modal-elements{
        flex-direction: column;
        width: 90%;
    }
    .form-plan-modal-elements span{
        width: 100%;
    }
}